.channelTextArea-rNsIhG {
    margin-bottom: 24px;
    background-color: var(--background-primary);
}
.channelTextArea-2VhZ6z {
    position: relative;
    width: 100%;
    text-indent: 0;
    border-radius: 50px;
}